[submodule "_jobs"]
	path = _jobs
	url = https://github.com/opensourcedesign/jobs.git
[submodule "_events"]
	path = _events
	url = https://github.com/opensourcedesign/events.git
[submodule "_organization"]
	path = _organization
	url = https://github.com/opensourcedesign/organization.git
[submodule "_patterns"]
	path = _patterns
	url = https://github.com/opensourcedesign/patterns.git
[submodule "_talks"]
	path = _talks
	url = https://github.com/opensourcedesign/talks.git
